* {
    margin:0; /* обнуление значений по умолчанию*/
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
}

html {
    font-size: 18px; /* задаем единый размер шрифта дл всего документа */
}

body {
    font-size: 1rem; /*задаем условное единицу всегда равную корневому размеру шрифта */
    line-height: 1.5; /*задаем межстрочный интервал/высоту строки */
}

ul, ol {
    list-style: none; /* убриаем точки и др символы в начале лишек списка */
}

a { 
    color: white; /* цвет текста в ссылке */
    text-decoration: none; /* убрали побчеркивание в ссылке */
}

* {
    transition: all 1s; /* задали всем мнтеркативно меняющимся значением задержку в 1с */
}

.wrapper {
    position: fixed; /* фиксированное позиционирование */
    top: 1%;
    left: 20%;
    display: flex; 
    flex-direction: column; /*установили главную ось для дочерних элементов (в столбец)*/
    margin: 5px auto;
    width: 70%;
}

.header {
    display: flex;
}

.header__logo {
    width: 25%;
    height: 90px;
    background-color: rgb(122, 127, 169);
    border-radius: 70px 0;
    text-align: center; /* центрирование текста */
    padding-left: 5%;
}

.header__logo--text {
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 700;
    color: rgb(246, 249, 251); 
}

.header__wrap,
.header__info,
.header__lang {
    display: flex;
    justify-content: center; /* выравнивание вдоль главной оси*/
    align-items: center; /* выравнивание вдоль поперечной оси */
    width: 20%;
}

div.header__info>p {
    padding-left: 10px; /* внутренний левый отступ для р который является непосредственный ребенком div*/
}

.header__info--text {
    background-color: rgb(173, 173, 215);
}

.nav {
    font-size: 0;
    display: flex;
    justify-content: space-around; /* віравнивание вдоль main axis */
}

.nav__item {
    position: relative;
    display: inline-block; /*внутренняя часть форматируется как блочный элемент, а сам элемент внещне ведет себя как строчный. */
    text-align: center;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px; /* закругдение углов границы*/
    line-height: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__item:hover {
    background-color: rgb(122, 127, 169);
}

.nav__item:hover .menu_dropdown {
    display: block;
}

.menu_dropdown {
    position: absolute;
    display: none;
    padding-left: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.menu__link {
    color: #000;
    transition: all .3s;
}

.menu__link:hover {
    font-size: 1.2rem; /* при наведениее на меню линк меняются эти характеристики*/
    font-weight: 600;
}

.section {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    background-image: url(../images/main_background.jpg);
    background-size: 100%;
    height: 120vh;
}

.heading {
    width: 15%;
    padding-top: 40px;
    padding-left: 40px;
}

.footer {
    padding: 10px;
    background-color: aliceblue;
}

.footer__menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image {
    position: relative;
}

.pic {
    width: 100%;
    height: 100%;
}

.search {
    position: absolute;
    top: 78%;
    left: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
    background-color: aliceblue;
    border-radius: 20px;
    opacity: .8; /* задаем прозрачность */
}

.search__link {
    color: #000;
    font-size: 1.5rem;
    font-weight: 800;
}

.content {
    display: flex;
}

.box,
.box__primery,
.box__country,
.box__cuisine {
    width: 25%;
    height: 200px;
    background-size: cover;
}

.box {
    background-image: url(../images/church.jpg);

}

.box__country {
    background-image: url(../images/about_Georgia.jpg);
}

div [class*=primery] {
    background-image: url(../images/culture.jpg);
}

.box__cuisine {
    background-image:url(../images/cuisine.jpg);
}

.inner {
    width: 100%;
    height: 200px;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    opacity: 0;
    text-align: center;
    line-height: 200px;
    cursor: help ;
}

.box__cuisine:hover .inner,
.box:hover .inner,
.box__country:hover .inner, 
.box__primery:hover .inner { /* при наведении на блоки внутренний блок inner меняется*/
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

.desc {
    margin: 0 auto;
    padding-top: 10px;
    width: 90%;
}

p[class$="text"] {
    text-indent: 25px;
    padding: 10px;
    text-align: justify;
}
